$_body_background: #f6f6f6;
$_white: #FFF;
$_black:   #000000 !default;
$_blue: #0049D8;
$_violet: #466AC5;
$_orange: #F2994A;

$_red: #FF0000;
$_green: #24B524;

$_btc_color: #F7931A;
$_eth_color: #DCDCDC;

$_content_block_border_radius: .6rem;